html{
	background-image:url("1-night-snow-texture.jpg"); 
	font-family:meera; 
	position:relative;
	right:-60px;
	color:black;
} 

main {
	background: white;
	width: 1000px;
	background-position:center;
	right: -300px;
	margin: 1.5cm 4cm 4cm 4cm;
}

h1{ 
	color: black; 
	font-size: 75px;
	
}





}
img {
	position: relative;
	right:100px;

}
h2 {
	position: relative;	
	
}

p{
position:relative;
font-size: 45px;

}

