html {
	color: #f03080;
	font-family: arial;
	background-color: lightslategray;
}

h1{ 
	color: lightblue;
	background-color:lightskyblue;
	text-decoration:underline;
	background-blend-mode: color-dodge:
}

h2

p

footer
