html {
/* Properties Used
Color 
Font-family 
background-color 
Text -decoration
Border style
Border color 
Font size
Font style 
Text shadow 
Letter spacing 
Position 
Right
Width
height 
top
Background-image
background-size
Text - transform
Opacity 
Background- position
cursor
padding
px
em
in
cm
*/
/* 
*Create a new file called "main.css"
*Add a link element to the head of your index.html file
<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font and text of each element.
*Use at least 20 different properties. Include a list of these 20 at the TOP of your main.css file as a css comment.
*Use at least 4 different units to set sizes of various aspects of your webpage.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.*/
/*From Yindii I learned how to change what the cursor looks like, and from Gina I learned the padding property. */
	color: #f03080;
	font-family: "jsMath-bbold10 Bold";
	background-color: lightslategray;
	background-image:url("http://s1.favim.com/orig/150915/black-cute-flower-flowers-Favim.com-3301690.jpg");
	background-size:1100px 900px;
	background-position: 50% 10%;
	cursor: alias;
	padding: 0cm 2cm 3cm 0.3cm;
}
a    {color:white; background-color:transparent; text-decoration:none;}
a {color:white; background-color:transparent; text-decoration:none}

h1{ 
	color:white;
	font-family:purisa;
	text-decoration:underline;
	border-style:solid;
	border-color:white;
	font-size: 0.6in;
	font-style:italic;
	text-shadow: 8px 8px 8px #de8000;
	position: relative;
	top: -18px;
	width: 950px;
	height:90px;
	align-content:center;
}

h2, h3 { 
	color: black;
	font-family: purisa;
	letter-spacing: 6px; 
	font-size: 3em;
	text-transform:uppercase;
	text-shadow: 0 0 20px lightskyblue;
	background-color:#de8000; 
	border-color: black;
	border-style: solid; 
	border-width: medium;
	position: relative;
	top: -20px;
	right: -60px;
	width: 300px;
	height:65px;
	opacity: 0.9;
} 

h2{
position: relative;
	top: -40px;
}
h3 {
position: relative;
	top: -30px;
width: 650px;
right: -60px;
}
nav, ul {
	position: relative;
	top: -15px;
	color: white;
	font-family: pursia;
	font-size:25px;
	border: none;
}

main p {
	color: white; 
	font-family:purisa;
	font-size: 0.5cm;
	position: relative;
	top: -60px;
	right: -60px;
	width: 900px;
	height:70px;
	border-color: #de8000;
	border-style: dotted;
} 
ul{
	font-family:purisa;
	font-size: 15px;
	position: relative;
	top: -60px;
	right: -60px;
}
footer {
	color:white;
	position: relative;
	top: -10px;
	font-family:purisa;
	border-color:white;
	border-style: solid;	
} 	
